.account {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.account-box {
    width: 32%;
    border: 1px solid rgba(189, 195, 199, 1.0);
    color: rgba(44, 62, 80, 1.0);
    margin-bottom: 0.5rem;
}

.account-box-heading {
    padding: 0.5rem;
}



 button {
  border: none;
  color: #F7F1F0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button {
      background-color: #c3a6a0;
  color: #262220;
  border: 2px solid #A15c38;
  border-radius: 24px;
}



button:hover {
  background-color: #A15c38;
  color: white;
  border-radius: 12px;
}