{% extends "base.html" %}

{% block pageheading %}Accounts{% endblock %}

{% block main %}
    <h3> Login to your account: </h3>
    <a href="/login"><button type="submit">Login</button></a>
    <h3>Register a new account: </h3>
    <a href="/signup"><button type="submit">Signup</button></a>

    <table>

        <tr>
            <td>First</td>
            <td>Last</td>
            <td>Type</td>
        </tr>
        {%  for accounts in account_list %}
            <tr>
                <td>{{ accounts[1] }}</td>
                <td>{{ accounts[2] }}</td>
                <td>{{ accounts[3] }}</td>
            </tr>

        {% endfor %}

    </table>

{% endblock %}