<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Tutoring | home</title>
</head>

<body>
    <nav>
        <a href="/"><button type="submit">Home</button></a>
        <a href="/sessions"><button type="submit">Sessions</button></a>
        <a href="/accounts"><button type="submit">Account</button></a>
    </nav>
<div class="container">
    <header>
        <h1>Tutoring</h1>
        <h2>{% block pageheading %}{% endblock %}</h2>
    </header>

    <main>
        {% block main %}
        {% endblock %}
    </main>
</div>
</body>

</html>