<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Tutoring | home</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

</head>

<body>
    <nav>
        <a href="/"><button type="submit">Home</button></a>
        <a href="/session_list"><button type="submit">Sessions</button></a>
        <a href="/session_creation"><button type="submit">Session Creation</button></a>
        <a href="/accounts"><button type="submit">Account</button></a>
        <a href="/login"><button type="submit">Login & Signup</button></a>
    </nav>
<div class="container">
    <header>
        <h1>Tutoring</h1>
        <h2>{% block pageheading %}{% endblock %}</h2>
    </header>

    <main>
        {% block main %}
        {% endblock %}
    </main>
</div>
</body>

</html>