{% extends "base.html" %}

{% block pageheading %}Welcome to the coolest and best Tutoring service ever convinced by mankind. This is no fake advertising or scam, this is infact the MOST reptuable turoting service in recorded human history.{% endblock %}

{% block main %}
    <p>This turoting service over the thousands of years of human existance, has been tutoring people with all kinds of abilities. Famous examples like Kanye, Napoleon, Kendrick, Wellington, Newton and more have used this service.</p>
    <p> Our Starting rate is $3500 per session, not including Tutor. However we do allow users to assign themselfs tutors freely, but tutors have their own charges starting at $799.</p>
    <p> Damages occured through rude Tutors (JOHN!) are not our fault and you agree to that risk when using our platform.</p>
{% endblock %}