{% extends "base.html" %}

{% block pageheading %}Login{% endblock %}

{% block main %}
    <form class="myform" method="post">
        <div class="form-group">
            <div class="form-label"> Email: </div>
            <div class="form-element"> <input type="email" name="user_email" required> </div>
        </div>

        <div class="form-group">
            <div class="form-label"> Password: </div>
            <div class="form-element"> <input type="password" name="user_password" required> </div>
        </div>

        <div class="form-group">
            <div class="form-label"> Submit: </div>
            <div class="form-element"> <input type="submit" value="Submit"> </div>
        </div>
    </form>
    <br> <br> <br>
    <p>Don't have an account? <a href="/signup">Make one here.</a></p>
{% endblock %}